# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
# lewagon_buddies_packages
git+https://github.com/dorien-er/drn_rsn
git+https://github.com/davydw/ilovekebab
git+https://github.com/natalykoch/fancy
# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor
